.auth-layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d1ecd1;
  border-radius: 4px;
  width: 400px;
  margin: 30px auto;
  padding: 15px;
}
