.banner{
  background-image: url(/assets/images/bann.jpg);
  width: 100%;
  height: 500px;
  display: block;
  background-size: cover;
  margin-bottom: 20px;

}
.product-items{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px ;

}
